# fast hashed storage.
#blist
# dump parse
lxml
# group explanations
more-itertools
# wiki remote api return xml. conjugator api return html
bs4
html5lib
# wikidata dump in json
ijson
# fetch content from Wikipedia
wikipedia
# split to sentences
nltk
# download files, make IAAS requests
requests

# scrapy
#scrapy
#html2text
#
#pandas
#mputil
#papy
# extend built-in types
#forbiddenfruit
#pipe
#
#sqlalchemy
# memory profiling
objgraph
pympler
memory_profiler
matplotlib
